<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataWranglerCommonWPF.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DataWranglerCommonWPF.Properties.UserSettings>
            <setting name="LastUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUserPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ShouldRememberUserAndPass" serializeAs="String">
                <value>True</value>
            </setting>
        </DataWranglerCommonWPF.Properties.UserSettings>
    </userSettings>
</configuration>